@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus, .init-rollable:hover, .init-rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.clickable:hover, .clickable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-group {
  font-family: "Modesto", "Palatino Linotype", serif;
}

.form-group label {
  font-variant: small-caps;
  font-weight: bold;
  padding-left: 5px;
  margin-right: 5px;
  border-left: 2px groove #eeede0;
  border-bottom: 2px groove #eeede0;
}

.form-group input {
  text-transform: capitalize;
}

.roll-chat {
  font-family: "Modesto", "Palatino Linotype", serif;
}

.roll-chat .roll-name, .roll-chat .roll-type {
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: bolder;
  line-height: 26px;
  margin: 0;
}

.roll-chat .roll-name {
  font-size: 18px;
}

.roll-chat .roll-type {
  text-align: right;
  font-size: 24px;
  font-style: italic;
  font-weight: bolder;
  color: rgba(131, 131, 131, 0.781);
}

.roll-chat .card-tag {
  font-weight: bold;
  font-variant: small-caps;
  background-color: rgba(255, 222, 132, 0.466);
  padding-left: 2px;
  padding-right: 2px;
  border: 2px groove #eeede0;
}

.roll-chat .card-tag .tag-number {
  font-variant: none;
}

.roll-chat .card-vs {
  font-weight: bold;
  text-transform: capitalize;
}

.roll-chat .card-Advantage {
  background-color: rgba(95, 255, 95, 0.322);
}

.roll-chat .card-Disadvantage {
  background-color: rgba(255, 104, 104, 0.281);
}

/* Styles limited to openlegends sheets */
.openlegends {
  /* Header Summary Details */
  font-family: "Modesto", "Palatino Linotype", serif;
}

.openlegends .actions {
  grid-column: 2 / 4;
  grid-row: 6 / 9;
  background: #74e4f8;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: inline-grid;
  grid-template-columns: -webkit-min-content minmax(-webkit-max-content, 1fr) -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content 3fr -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-columns: min-content minmax(max-content, 1fr) max-content max-content max-content max-content 3fr min-content min-content min-content;
  grid-template-rows: 20px 20px repeat(auto-fill, 28px);
  grid-gap: 0.1rem;
  grid-column-gap: 0.5rem;
  padding: 0.25em;
  background: rgba(174, 234, 238, 0.35);
  border: 4px groove #eeede0;
}

.openlegends .actions .div {
  padding-bottom: 0.25em;
}

.openlegends .actions .action-title {
  grid-column: span 10;
  font-size: large;
  font-weight: bold;
}

.openlegends .actions .action-header {
  grid-column: span 1;
  font-style: italic;
}

.openlegends .actions .action-type, .openlegends .actions .action-attribute {
  text-transform: capitalize;
  font-variant: small-caps;
}

.openlegends .attributes {
  grid-column: 1 / 1;
  grid-row: 2 / 9;
  background-color: rgba(255, 174, 0, 0.35);
  border: 4px groove #eeede0;
  font-weight: bolder;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: inline-grid;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-rows: repeat(26, 26px);
}

.openlegends .attribute-header {
  grid-column: span 3;
  background-color: rgba(0, 0, 0, 0.15);
  border-top: 2px groove #eeede0;
  text-align: center;
  text-transform: capitalize;
  font-size: large;
}

.openlegends .attribute-name {
  text-transform: capitalize;
  font-size: 110%;
  padding-right: 0.25em;
  text-align: right;
}

.openlegends .attribute-value {
  font-size: medium;
  font-weight: normal;
  text-align: center;
}

.openlegends .character {
  grid-column: 3 / 4;
  grid-row: 2 / 6;
  display: inline-grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 0.25rem;
}

.openlegends .character .gear {
  grid-column: 1/3;
  grid-row: 1/3;
  border: 4px groove #eeede0;
  background-color: rgba(255, 196, 0, 0.35);
  overflow-y: scroll;
}

.openlegends .character .gear .title {
  font-size: large;
  font-weight: bold;
}

.openlegends .character .feats {
  grid-column: 1/2;
  grid-row: 3/5;
  border: 4px groove #eeede0;
  background-color: rgba(133, 133, 133, 0.25);
  overflow-y: scroll;
}

.openlegends .character .feats .title {
  grid-column: span 4;
  font-size: large;
  font-weight: bold;
}

.openlegends .character .perks {
  grid-column: 2/3;
  grid-row: 3/4;
  border: 4px groove #eeede0;
  background: rgba(0, 255, 98, 0.35);
}

.openlegends .character .flaws {
  grid-column: 2/3;
  grid-row: 4/5;
  border: 4px groove #eeede0;
  background: rgba(255, 125, 108, 0.35);
}

.openlegends .character .perks .title, .openlegends .character .flaws .title {
  font-size: large;
  font-weight: bold;
}

.openlegends .health {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.25rem;
  padding: 0.25em;
  background: rgba(255, 128, 128, 0.6);
  border: 4px groove #eeede0;
}

.openlegends .health-title {
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: -8;
}

.openlegends .health-type {
  font-size: large;
  text-align: center;
}

.openlegends .health input {
  text-align: center;
}

.openlegends .guard {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.openlegends .toughness {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.openlegends .resolve {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.openlegends .defense-grid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.25rem;
  padding: 0.25em;
  background: rgba(182, 159, 111, 0.6);
  border: 4px groove #eeede0;
}

.openlegends .defense-grid .attribute-grid {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: 20px 20px 20px minmax(0px, 20px);
  grid-gap: 0.25rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.openlegends .defense-title {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

.openlegends .defense-value {
  text-align: center;
  font-size: 300%;
}

.openlegends .avatar {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  width: 100px;
  max-width: 100px;
}

.openlegends .details {
  grid-column: 1 / 4;
  grid-row: 1 / 1;
  border: 4px groove #eeede0;
  display: grid;
  grid-template-columns: 100px minmax(110px, 1fr) minmax(90px, 1fr) minmax(90px, 1fr) minmax(90px, 1fr) minmax(90px, 1fr);
  grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content max-content;
  grid-gap: 0.25rem;
}

.openlegends .details div {
  background-color: rgba(255, 255, 255, 0.35);
  border: 2px groove #eeede0;
}

.openlegends .details input {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0px;
}

.openlegends .details .details-name {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.openlegends .details .details-player {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.openlegends .details .details-description {
  grid-column: 4 / 7;
  grid-row: 1 / 2;
}

.openlegends .details .details-level {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.openlegends .details .details-xp {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

.openlegends .details .details-wealth {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}

.openlegends .gear-row {
  border: 2px groove #eeede0;
  background-color: rgba(255, 255, 255, 0.35);
}

.openlegends .gear-row .gear-name {
  font-size: larger;
  font-weight: bold;
  font-variant: small-caps;
  text-transform: capitalize;
}

.openlegends .gear-row .gear-summary .gear-title {
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
  color: rgba(46, 46, 46, 0.781);
  margin-top: -2px;
  margin-bottom: -2px;
}

.openlegends .gear-row .gear-summary .gear-type {
  font-size: x-small;
  font-weight: bold;
  text-align: center;
  color: rgba(46, 46, 46, 0.781);
}

.openlegends .gear-row .weapon-wl {
  font-size: larger;
}

.openlegends .armor-row {
  display: grid;
  grid-template-columns: minmax(-webkit-max-content, auto) minmax(-webkit-max-content, auto) minmax(-webkit-max-content, auto) minmax(-webkit-max-content, auto) minmax(-webkit-max-content, 10fr) -webkit-max-content 20px;
  grid-template-columns: minmax(max-content, auto) minmax(max-content, auto) minmax(max-content, auto) minmax(max-content, auto) minmax(max-content, 10fr) max-content 20px;
  grid-gap: 0.5rem;
}

.openlegends .weapon-row {
  display: grid;
  grid-template-columns: minmax(-webkit-max-content, auto) minmax(-webkit-max-content, auto) minmax(-webkit-max-content, 10fr) -webkit-max-content 20px;
  grid-template-columns: minmax(max-content, auto) minmax(max-content, auto) minmax(max-content, 10fr) max-content 20px;
  grid-gap: 0.5rem;
}

.openlegends .weapon-row .weapon-affixes {
  font-size: smaller;
}

.openlegends .feat-row {
  display: grid;
  grid-template-columns: minmax(-webkit-max-content, auto) minmax(-webkit-max-content, auto) minmax(-webkit-max-content, 10fr) 20px;
  grid-template-columns: minmax(max-content, auto) minmax(max-content, auto) minmax(max-content, 10fr) 20px;
  grid-gap: 0.25rem;
}

.openlegends .feat-row .feat-tier {
  font-style: italic;
  color: rgba(46, 46, 46, 0.781);
  border-right: 2px groove #eeede0;
  padding-right: 5px;
}

.openlegends .perkflaw-row {
  display: grid;
  grid-template-columns: minmax(-webkit-max-content, auto) 20px;
  grid-template-columns: minmax(max-content, auto) 20px;
  grid-gap: 0.2rem;
}

.openlegends .main-grid {
  display: grid;
  grid-template-columns: 200px 220px minmax(150px, 2fr);
  grid-template-rows: -webkit-min-content 125px 125px 125px 125px 1fr;
  grid-template-rows: min-content 125px 125px 125px 125px 1fr;
  grid-gap: 0.5rem;
}

.openlegends .underlined {
  border-bottom: 1px solid #000000;
}

.openlegends .centered {
  text-align: center;
}

.openlegends .text-input {
  font-weight: bold;
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: 0.5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.openlegends .ht:hover .tooltip {
  display: block;
}

.openlegends .tooltip {
  display: none;
  background: #353535;
  color: white;
  padding: 0.25rem;
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
}

.openlegends .item-sheet input {
  background: rgba(0, 0, 0, 0);
  border: none;
}

.openlegends .item-sheet input:hover, .openlegends .item-sheet input:focus {
  border: 1px solid #111;
  -webkit-box-shadow: 0 0 8px red;
  box-shadow: 0 0 8px red;
}

.openlegends .item-sheet .header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  border-bottom: 2px groove #eeede0;
  min-width: 450px;
  text-transform: capitalize;
  font-variant: small-caps;
}

.openlegends .item-sheet .header .header-details {
  border-left: 2px groove #eeede0;
}

.openlegends .item-sheet .header .item-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  max-width: 100px;
  height: 100px;
  -o-object-fit: contain;
  object-fit: contain;
  border: none;
  padding-right: 5px;
}

.openlegends .item-sheet .header .item-name {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-bottom: none;
  height: 60px;
  margin: 0;
  padding: 5px;
}

.openlegends .item-sheet .header .item-name input {
  display: block;
  height: 50px;
  font-size: 32px;
  margin: 0;
}

.openlegends .item-sheet .header .item-subtitle {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  height: 60px;
  margin: 0;
  padding: 5px;
  text-align: right;
  font-style: italic;
  color: rgba(46, 46, 46, 0.781);
}

.openlegends .item-sheet .header .item-subtitle .item-type {
  font-size: 24px;
  font-weight: bolder;
  line-height: 26px;
  margin: 0;
}

.openlegends .item-sheet .header .item-subtitle .item-status, .openlegends .item-sheet .header .item-subtitle .scale-tester {
  font-size: 16px;
  line-height: 24px;
  min-width: 75px;
}

.openlegends .item-sheet .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.openlegends .item-sheet .sheet-body {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: 0.5rem;
}

.openlegends .item-sheet .sheet-body .action-header {
  font-size: larger;
  font-weight: bold;
}

.openlegends .item-sheet .sheet-body .action-edit {
  list-style-type: none;
  text-transform: capitalize;
  font-variant: small-caps;
  padding: 0;
  margin: 0;
}

.openlegends .item-sheet .sheet-body .action-edit ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.openlegends .item-sheet .sheet-body .action-edit li {
  vertical-align: middle;
  padding-right: 10px;
}

.openlegends .item-sheet .sheet-body .action-edit li input {
  vertical-align: middle;
}

.openlegends .item-sheet .sheet-body .action-edit li input span {
  vertical-align: middle;
}

.openlegends .item-sheet .sheet-body button {
  line-height: initial;
}

.openlegends .item-sheet .sheet-body .description-editor {
  border-left: 2px groove #eeede0;
  padding-left: 3px;
}

.openlegends .item-sheet .summary {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px groove #eeede0;
  border-bottom: none;
}

.openlegends .item-sheet .summary li {
  height: calc(100% - 6px);
  float: left;
  padding-left: 2px;
  border-right: 2px groove #eeede0;
  line-height: 34px;
  color: black;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.openlegends .item-sheet .summary li input {
  margin: 5px;
}

.openlegends .item-sheet .summary li:last-child {
  border-right: none;
}

.openlegends .item-sheet .summary li .wl {
  width: 25px;
}

.openlegends .item-sheet .weapon-summary {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px groove #eeede0;
  border-bottom: none;
}

.openlegends .item-sheet .weapon-summary li {
  line-height: 34px;
  color: black;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 2px;
}

.openlegends .item-sheet .weapon-summary li div {
  margin-top: -5px;
  margin-bottom: -15px;
}

.openlegends .item-sheet .weapon-summary li input {
  margin-top: -15px;
}

.openlegends .item-sheet .weapon-summary li:last-child {
  border-top: 2px groove #eeede0;
  border-right: none;
}

.openlegends .item-sheet .shrink {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.openlegends .item-sheet .editor {
  height: 100%;
}

.openlegends .item-sheet .editor .tox-toolbar-overlord,
.openlegends .item-sheet .editor .tox-toolbar__primary {
  background: none;
}

.openlegends .item-sheet .action-attack .attack-attribute, .openlegends .item-sheet .action-attack .attack-target {
  text-transform: capitalize;
  font-weight: bold;
  font-variant: small-caps;
}

.openlegends .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.openlegends .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.openlegends .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.openlegends .forceful {
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: bold;
}

.openlegends .aligned {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.openlegends .h-divider {
  border-bottom: 2px groove #eeede0;
}
