<form class="openlegend">
    <div class="form-group">
        <label>Attribute</label>
        <input type="text" name="formula" value="{{attr}}: {{score}} " disabled/>
    </div>
    <div class="form-group">
        <label>Roll Formula</label>
        <input type="text" name="formula" value="{{formula}}" disabled/>
    </div>
    <div class="form-group">
        <label>Level of Adv/Dis{{#if advBonus}}<span class="upgraded" data-tooltip="From Activated Feats"> (+{{advBonus}})</span>{{/if}}</label>
        <input type="number" name="advlevel" value="{{default_adv}}"/>
    </div>
</form>