<div class="health">
    <div class="health-title">Health Points</div>
    <div class="health-type">Curr</div>
    <div class="health-type">Max</div>
    <div class="health-type">Lethal</div>
    <input name="data.defense.hp.value" type="number" value="{{data.defense.hp.value}}" placeholder="0" />
    <div class="ht">
        <input name="data.defense.hp.max" type="number" value="{{data.defense.hp.max}}" placeholder="0">
        <span class="tooltip">2*(Fortitude+Will+Presence)+10 = {{data.defense.hp.hint}} </span>
    </div>
    <input name="data.defense.hp.lethal" type="number" value="{{data.defense.hp.lethal}}" placeholder="0" />
</div>
<div class="guard defense-grid">
    <div>
        <div class="defense-title">Guard</div>
        <div class="defense-value">{{data.defense.guard.guard}}</div>
    </div>
    <div class="attribute-grid">
        <div>Agility</div>
        <div>{{data.attributes.physical.agility.score}}</div>
        <div>Might</div>
        <div>{{data.attributes.physical.might.score}}</div>
        <div>Armor</div>
        <div>{{data.defense.guard.armor}}</div>
        <div>Other</div>
        <input name="data.defense.guard.other" type="number" value="{{data.defense.guard.other}}" placeholder="0" />
    </div>
</div>
<div class="toughness defense-grid">
    <div>
        <div class="defense-title">Tough</div>
        <div class="defense-value">{{data.defense.toughness.toughness}}</div>
    </div>
    <div class="attribute-grid">
        <div>Fortitude</div>
        <div>{{data.attributes.physical.fortitude.score}}</div>
        <div>Will</div>
        <div>{{data.attributes.mental.will.score}}</div>
        <div>Other</div>
        <input name="data.defense.toughness.other" type="number" value="{{data.defense.toughness.other}}" placeholder="0" />
    </div>
</div>
<div class="resolve defense-grid">
    <div>
        <div class="defense-title">Resolve</div>
        <div class="defense-value">{{data.defense.resolve.resolve}}</div>
    </div>
    <div class="attribute-grid">
        <div>Presence</div>
        <div>{{data.attributes.social.presence.score}}</div>
        <div>Will</div>
        <div>{{data.attributes.mental.will.score}}</div>
        <div>Other</div>
        <input name="data.defense.resolve.other" type="number" value="{{data.defense.resolve.other}}" placeholder="0" />
    </div>
</div>