<div class="health">
    <div class="health-title">Health Points</div>
    <div class="health-type">Curr</div>
    <div class="health-type">Max</div>
    <div class="health-type">Lethal</div>
    <input name="system.defense.hp.value" type="number" data-dtype="Number" value="{{system.defense.hp.value}}" placeholder="0" />
    <div class="ht">
        <input name="system.defense.hp.max" type="number" data-dtype="Number" data-tooltip="{{system.defense.hp.hint_str}}" value="{{system.defense.hp.max}}" placeholder="0" disabled>
    </div>
    <input name="system.defense.hp.lethal" type="number" data-dtype="Number" value="{{system.defense.hp.lethal}}" placeholder="0" />
    <div class="health-bonuses">
        <div class="text-input">
            <label>Feat Bonus: </label>
            <input name="system.defense.hp.feat" type="number" data-dtype="Number" value="{{system.defense.hp.feat}}" placeholder="0" />
        </div>
        <div class="text-input">
            <label>Other Bonus: </label>
            <input name="system.defense.hp.other" type="number" data-dtype="Number" value="{{system.defense.hp.other}}" placeholder="0" />
        </div>
    </div>
    <i class="fas fa-cog settings clickable" data-name="Health Configuration" data-defense="hp"></i>
</div>
<div class="guard defense-grid">
    <div>
        <div class="defense-title">Guard</div>
        <div class="defense-value" data-tooltip="{{system.defense.guard.hint_str}}">{{system.defense.guard.guard}}</div>
    </div>
    <div class="attribute-grid">
        {{#each system.defense.guard.formula as |formula|}}
            <div class="capitalize">{{formula.active}}</div>
            <div class="capitalize">{{formula.score}}</div>
        {{/each}}
        <div>Armor</div>
        <div{{#if system.defense.guard.armorBonus}} class="upgraded" data-tooltip="From Activated Feats"{{/if}}>{{system.defense.guard.armor}}</div>
        <div>Other</div>
        <input name="system.defense.guard.other" type="number" data-dtype="Number" value="{{system.defense.guard.other}}" placeholder="0" />
    </div>
    <i class="fas fa-cog settings clickable" data-name="Guard Configuration" data-defense="guard"></i>
</div>
<div class="toughness defense-grid">
    <div>
        <div class="defense-title">Tough</div>
        <div class="defense-value" data-tooltip="{{system.defense.toughness.hint_str}}">{{system.defense.toughness.toughness}} {{#if system.defense.toughness.bonus}}<span class="upgraded bonus" data-tooltip="From Activated Feats">(+{{system.defense.toughness.bonus}})</span>{{/if}}</div>
    </div>
    <div class="attribute-grid">
        {{#each system.defense.toughness.formula as |formula|}}
            <div class="capitalize">{{formula.active}}</div>
            <div class="capitalize">{{formula.score}}</div>
        {{/each}}
        <div>Other</div>
        <input name="system.defense.toughness.other" type="number" data-dtype="Number" value="{{system.defense.toughness.other}}" placeholder="0" />
    </div>
    <i class="fas fa-cog settings clickable" data-name="Toughness Configuration" data-defense="toughness"></i>
</div>
<div class="resolve defense-grid">
    <div>
        <div class="defense-title">Resolve</div>
        <div class="defense-value" data-tooltip="{{system.defense.resolve.hint_str}}">{{system.defense.resolve.resolve}} {{#if system.defense.resolve.bonus}}<span class="upgraded bonus" data-tooltip="From Activated Feats">(+{{system.defense.resolve.bonus}})</span>{{/if}}</div>
    </div>
    <div class="attribute-grid">
        {{#each system.defense.resolve.formula as |formula|}}
            <div class="capitalize">{{formula.active}}</div>
            <div class="capitalize">{{formula.score}}</div>
        {{/each}}
        <div>Other</div>
        <input name="system.defense.resolve.other" type="number" data-dtype="Number" value="{{system.defense.resolve.other}}" placeholder="0" />
    </div>
    <i class="fas fa-cog settings clickable" data-name="Resolve Configuration" data-defense="resolve"></i>
</div>