{{log this}}
<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="main-grid">
    {{> "systems/openlegend/templates/actor/parts/actor-details.html"}}
    {{> "systems/openlegend/templates/actor/parts/actor-attributes.html"}}
    {{> "systems/openlegend/templates/actor/parts/actor-defense.html"}}
    {{> "systems/openlegend/templates/actor/parts/actor-actions.html"}}
    <div class="character">
      <div class="gear">
        <div class="title">Gear</div>
        {{#each system.gear as |item|}}
          {{#ifeq item.type 'weapon'}}
            {{> "systems/openlegend/templates/actor/parts/gear-weapon.html" weapon=item}}
          {{/ifeq}}
          {{#ifeq item.type 'armor'}}
            {{> "systems/openlegend/templates/actor/parts/gear-armor.html" armor=item}}
          {{/ifeq}}
          {{#ifeq item.type 'generic'}}
            {{> "systems/openlegend/templates/actor/parts/gear-generic.html" item=item}}
          {{/ifeq}}
        {{/each}}
      </div>
      <div class="feats">
        <div class="title">Feats</div>
        {{#each system.feats as |item|}}
          {{> "systems/openlegend/templates/actor/parts/gear-feat.html" feat=item}}
        {{/each}}
      </div>
      <div class="perks">
        <div class="title">Perks</div>
        {{#each system.perks as |item|}}
          {{> "systems/openlegend/templates/actor/parts/gear-perkflaw.html" perkflaw=item}}
        {{/each}}
      </div>
      <div class="flaws">
        <div class="title">Flaws</div>
        {{#each system.flaws as |item|}}
          {{> "systems/openlegend/templates/actor/parts/gear-perkflaw.html" perkflaw=item}}
        {{/each}}
      </div>
    </div>
  </div>
</form>