<form class="{{cssClass}} npc" autocomplete="off">
    <input type="submit" hidden/>
    <div class="npc-header-grid">
        <img src="{{img}}" data-edit="img" title="{{name}}" />
        <div class="npc-details">
            <div class="npc-row flexrow">
                <div class="text-input npc-name">
                    <label>Name:</label>
                    <input name="name" type="text" value="{{name}}" placeholder="" />
                </div>
                <div class="flex-shrink text-input">
                    <label>Level:</label>
                    <input class="single_digit" name="system.level" type="number" data-dtype="Number" value="{{system.level}}" />
                </div>
                <div class="flex-shrink text-input">
                    <label>BossEdge:</label>
                    <input class="single_digit" name="system.boss_edge" type="number" data-dtype="Number" value="{{system.boss_edge}}" />
                </div>
            </div>
            <div class="npc-row text-input">
                <label>Description:</label>
                <input name="system.description" type="text" value="{{system.description}}" placeholder="" />
            </div>
            <div class="npc-row flexrow">
                <div class="text-input npc-hp">
                    <label>MaxHP:</label>
                    <input class="double_digit npc_hp_edit" type="number" data-dtype="Number" value="{{system.defense.hp.max}}" />
                </div>
                <div class="text-input npc-defense">
                    <label>Guard:</label>
                    <input class="double_digit" name="system.defense.guard.guard" type="number" data-dtype="Number" value="{{system.defense.guard.guard}}" />
                </div>
                <div class="text-input npc-defense">
                    <label>Tough:</label>
                    <input class="double_digit" name="system.defense.toughness.toughness" type="number" data-dtype="Number" value="{{system.defense.toughness.toughness}}" />
                </div>
                <div class="text-input npc-defense">
                    <label>Resolve:</label>
                    <input class="double_digit" name="system.defense.resolve.resolve" type="number" data-dtype="Number" value="{{system.defense.resolve.resolve}}" />
                </div>
            </div>
            <div class="npc-row flexrow">
                <div class="text-input">
                    <label class="forceful">
                        <a class="init-rollable" title="Roll">
                            <i class="fas fa-dice-d20"></i>
                        </a>InitMod:
                    </label>
                    <input class="single_digit" name="system.initiative_mod" type="number" data-dtype="Number" value="{{system.initiative_mod}}" />
                </div>
                <div class="details-speed text-input">
                    <label>Speed:</label>
                    <input class="double_digit" name="system.speed" type="number" data-dtype="Number" value="{{system.speed}}" placeholder="30" />
                </div>
                <div class="text-input">
                    <label>Attr:</label>
                    <label>{{system.trackers.attr.spent}}/{{system.trackers.attr.points}}</label>
                </div>
                <div class="text-input">
                    <label>Feats:</label>
                    <label>{{system.trackers.feats.spent}}/{{system.trackers.feats.points}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="npc-body">
        <div class="npc-attributes">
            <div class="npc-attributes-display">
                {{#each system.attributes as |group|}}
                    {{#each group as |attr attr_name|}}
                        {{#if (gtz attr.score)}}
                        <div>
                            <span class="forceful rollable macro" draggable="true"
                                data-macro="attr" data-attr="{{attr_name}}">{{attr_name}}:</span>
                            {{attr.score}}
                        </div>
                        {{/if}}
                    {{/each}}
                {{/each}}
            </div>
            <div class="npc-attributes-edit" hidden>
                {{#each system.attributes as |group group_name|}}
                    {{#each group as |attr attr_name|}}
                        <div>
                            <span class="forceful">{{attr_name}}:</span>
                            <input class="single_digit npc-attr-setter"
                                type="number"
                                data-group="{{group_name}}"
                                data-attr="{{attr_name}}"
                                value="{{attr.score}}" />
                        </div>
                    {{/each}}
                {{/each}}
            </div>
            <button class="update-npc-attributes">Edit</button>
            <div class="heromuster npc">
                <div class="attribute-header">HeroMuster Lookups</div>
                <button type="button" class="lookup" data-type="boons" data-code="{{system.heroMusterCode}}">Boons</button>
                <button type="button" class="lookup" data-type="banes" data-code="{{system.heroMusterCode}}">Banes</button>
                <button type="button" class="lookup" data-type="feats" data-code="{{system.heroMusterCode}}">Feats</button>
            </div>
        </div>
        <div class="npc-features">
            <div class="npc-actions">
                {{> "systems/openlegend/templates/actor/parts/actor-actions.html"}}
            </div>
            <div class="npc-feats">
                <div class="title">
                    Feats
                    <span class="button add-asset clickable" data-type="feat"><i class="fas fa-plus"></i> Feat</span>
                </div>
                {{#each feats as |item|}}
                    {{> "systems/openlegend/templates/actor/parts/gear-feat.html" feat=item}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="npc-notes">
        <div class="title">Notes</div>
        {{{editor system.notes target="system.notes" button=true owner=owner editable=editable}}}
    </div>
</form>