@import "../variables";

.actions {
  grid-column: 2 / 4;
  grid-row: 6 / 9;

  background: rgb(116, 228, 248);
  align-items: center;

  display: inline-grid;
  grid-template-columns: min-content minmax(max-content, 1fr) max-content max-content max-content max-content max-content 3fr min-content min-content min-content;
  grid-template-rows: 20px 20px repeat(auto-fill, 28px);
  grid-gap: 0.1rem;
  grid-column-gap: 0.5rem;

  padding: 0.25em;
  background: $actionsColor;
  border: $thickBorderGroove;

  .div {
    padding-bottom: 0.25em;
  }

  .action-title {
    grid-column: span 11;
    font-size: large;
    font-weight: bold;
  }
    
  .action-header {
    grid-column: span 1;
    font-style: italic;
  }

  .action-type, .action-attribute {
    text-transform: capitalize;
    font-variant: small-caps;
  }

  .action-adv {
    width: 25px;
  }
}
  