@import "../variables";

.attributes {
  grid-column: 1 / 1;
  grid-row: 2 / 9;

  background-color: $attributesColor;
  border: $thickBorderGroove;

  font-weight: bolder;
  align-items: center;

  display: inline-grid;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-rows: repeat(26, 26px);
}

.attribute-header {
  grid-column: span 3;
  background-color: $dim;
  border-top: $borderGroove;

  text-align: center;
  text-transform: capitalize;
  font-size: large;
}

.attribute-name {
  text-transform: capitalize;
  font-size: 110%;
  padding-right: 0.25em;
  text-align: right;
}

.attribute-value {
  font-size: medium;
  font-weight: normal;
  text-align: center;
}