.main-grid {
    display: grid;
    grid-template-columns: 200px 220px minmax(150px, 2fr);
    grid-template-rows: min-content 125px 125px 125px 125px 1fr;
    grid-gap: 0.5rem;
}
  
.underlined {
    border-bottom: 1px solid #000000;
}
  
.centered {
    text-align: center;
}

.text-input {
    font-weight: bold;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 0.5rem;
    align-items: center;
}

.ht:hover .tooltip {
    display:block;
}

.tooltip {
    display: none;
    background: #353535;
    color: white;

    padding: 0.25rem;
    border-radius: 5px;

    position: absolute;
    z-index: 1000;
}