@import "../variables";

.npc {
    .npc-header-grid {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 100px;
        grid-gap: 0.25rem;
    }

    .npc-details {
        min-width: 430px;
    }

    .npc-row {
        border: $borderGroove;
        height: 25px;
    }

    .npc-hp {
        background-color: $healthColor;
    }

    .npc-defense {
        background-color: $defenseColor;
    }

    .npc-body {
        display: grid;
        grid-template-columns: 105px 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0.5rem;
        border: $thickBorderGroove;

        margin-top: 0.25em;

        .npc-attributes {
            .npc-attributes-display {
                width: 100px;
        
                div {
                    min-width: 100px;
                    text-align: right;
                }
            }
        
            .npc-attributes-edit {
                width: 105px;
        
                div {
                    min-width: 100px;
                    text-align: right;
                }
            }

            button {
                margin-top: 0.25em;
            }
        }

        .npc-actions {
            border: $borderGroove;
            background-color: $actionsColor;
        }

        .npc-feats {
            border: $borderGroove;
            background-color: $featsColor;

            .title {
                font-size: large;
                font-weight: bold;
            }
        }
    }

    input.single_digit {
        width: 10px;
    }

    input.double_digit {
        width: 30px;
    }

    .flex-shrink {
        flex: 0 0 auto;
    }

    input {
        background: rgba(0, 0, 0, 0);
        height: 20px;
        border: none;

        &:hover,
        &:focus {
          border: 1px solid #111;
          box-shadow: 0 0 8px red;
        }
    }

    button {
        line-height: initial;
    }
}