$borderGroove: 2px groove #eeede0;
$thickBorderGroove: 4px groove #eeede0;

$transparentDark: rgba(46, 46, 46, 0.781);
$transparentLight: rgba(131, 131, 131, 0.781);
$highlight: rgba(255, 255, 255, 0.35);
$dim: rgba(0, 0, 0, 0.15);

$attributesColor: rgba(255, 174, 0, 0.35);
$healthColor: rgba(255, 128, 128, 0.6);
$defenseColor: rgba(182, 159, 111, 0.6);
$actionsColor: rgba(174, 234, 238, 0.35);

$gearColor: rgba(255, 196, 0, 0.35);
$featsColor: rgba(133, 133, 133, 0.25);
$perksColor: rgba(0, 255, 98, 0.35);
$flawsColor: rgba(255, 125, 108, 0.35);