<form class="{{cssClass}} item-sheet" autocomplete="off">
    <header class="header flexrow">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-details">
            <div class="flexrow">
                <h1 class="item-name">
                    <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
                </h1>

                <div class="item-subtitle">
                    <h4 class="item-type">{{item.type}}</h4>
                    <span class="scale-tester" hidden></span>
                    <input class="item-status scale" name="system.tier"
                            type="text" value="{{system.tier}}" placeholder="Tier"/>
                </div>
            </div>
            <ul class="summary flexrow">
                <li class="flexrow">Feat Points:
                    <input type="number" name="system.cost" value="{{system.cost}}" placeholder="?"/></li>
            </ul>
        </div>
    </header>

    <section class="sheet-body">
        <div></div>
        <div class="description-editor">
            <div class="flexrow aligned">
                <span class="forceful shrink">PreReqs:&nbsp</span>
                <input type="text" name="system.prerequisites" value="{{system.prerequisites}}" placeholder="?"/>
            </div>
            <div class="flexrow aligned">
                <span class="forceful shrink">Short Desc:&nbsp</span>
                <input type="text" name="system.details.notes" value="{{system.details.notes}}" placeholder=""/>
            </div>
            <div class="h-divider"></div>
            {{editor system.details.description target="system.details.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
