<form class="{{cssClass}} item-sheet" autocomplete="off">
    <header class="header flexrow">
        <img class="item-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-details">
            <div class="flexrow">
                <h1 class="item-name">
                    <input name="name" type="text" value="{{name}}" placeholder="Name"/>
                </h1>

                <div class="item-subtitle">
                    <h4 class="item-type">{{type}}</h4>
                </div>
            </div>
        </div>
    </header>

    <section class="sheet-body">
        <div></div>
        <div class="description-editor">
            {{editor system.details.description target="system.details.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
