<form class="{{cssClass}} item-sheet" autocomplete="off">
    <header class="header flexrow">
        <img class="item-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-details">
            <div class="flexrow">
                <h1 class="item-name">
                    <input name="name" type="text" value="{{name}}" placeholder="Name"/>
                </h1>

                <div class="item-subtitle">
                    <h4 class="item-type">{{type}}</h4>
                    <span class="scale-tester" hidden></span>
                    <input class="item-status scale" name="system.categories"
                            type="text" value="{{system.categories}}" placeholder="Categories"/>
                </div>
            </div>
            <ul class="summary flexrow">
                <li class="flexrow">
                    <input type="text" name="system.properties" value="{{system.properties}}" placeholder="Properties"/></li>
                <li class="shrink">WL:
                    <input class="wl" type="text" name="system.gear.wl" value="{{system.gear.wl}}" placeholder="?"/></li>
            </ul>
        </div>
    </header>

    <section class="sheet-body">
        <div>
            <span class="action-header">Attacks</span>
            <ul class="action-list">
                {{#each system.attacks as |attack|}}
                    <li><span class="forceful">{{attack.attribute}}</span> vs <span class="forceful">{{attack.target}}</span></li>
                {{/each}}
            </ul>
            <div class="action-edit" hidden>
                <ul class="attack-list">
                    {{#each system.attacks as |attack|}}
                        {{> "systems/openlegend/templates/item/parts/attack-target.html" attack=attack attributes=../system.attributes}}
                    {{/each}}
                </ul>
                <div class="explosion-mod">
                    <label class="forceful">Explode on max minus:</label>
                    <input type="number" name="system.action.explosion_mod" value="{{system.action.explosion_mod}}"/>
                </div>
                <button class="add-attack">Add</button>
            </div>
            <button class="update-action">Edit</button>
            <div class="flexrow aligned">
                <span class="forceful shrink">Show action:</span>
                <input type="checkbox" name="system.action.show_as_action" {{#if system.action.show_as_action}}checked{{/if}}/>
            </div>
        </div>
        <div class="description-editor">
            <div class="flexrow aligned">
                <span class="forceful shrink">Banes:&nbsp</span>
                <input type="text" name="system.banes" value="{{system.banes}}" placeholder="?"/>
            </div>
            {{editor system.details.description target="system.details.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
